extends ../base

block content
  a(href=`http://localhost:3000/admin/blog/articles/form/${article._id}`) Edit article
  h1 #{article.title}
  p The following is the information we have about this article.
  h2 Meta title 
  p #{article.metaTitle}
  h2 Meta description 
  p #{article.metaDescription}
  h2 Summary 
  p #{article.summary}
  h2 Content
  div !{article.content}
  h2 Image
  if article.coverImage
    div
      != article.coverImage
  else
    p No featured image
  h2 Categories
  ul
    each category in article.categories
      li: a(href=`http://localhost:3000/admin/blog/categories/${category.id}`)= category.title
    else
      li No assigned categories
  h2 Status
  - var icon = article.published ? '✔' : '✘'
  p Published: #{icon}

block prepend scripts
  script(src="/prism.js")